/* CSS For Textstats */

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

div#text_stats_info li { float: left; width: 50%; }

div#text_stats_info li span.label { font-weight: bold; }

div#text_stats_info span.error { font-weight: bold; color: red; }
